body {
  font-family: 'Raleway', sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column; /* To align elements vertically */
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 5rem;
  margin-bottom: 30px;
  /*animation: colorChange 10s infinite alternate; */
  text-align: center; /* Center the h1 text horizontally */
}

    @keyframes colorChange {
      0% {
        color: #FD2288;
      }
      50% {
        color: #00E8CA;
      }
      100% {
        color: #FD2288;
      }
    }
	
#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  position: relative; /* Needed for absolute positioning of children */
}


#game-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-container {
  flex-direction: row;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.grid-cell {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Add a subtle transition effect on hover */
}

.grid-cell:hover {
  background-color: #e0e0e0; /* Light gray on hover */
}

/* Red X and Blue O */
.grid-cell.X {
  color: #FD2288; /* Red for X */
}

.grid-cell.O {
  color: #00E8CA; /* Blue for O */
}

#turn-indicator {
  font-size: 6rem;
  color: #000;
  text-align: center;
  width: 100px;
  font-weight: bold;
}

#turn-indicator.O {
  color: #00E8CA; /* Change color for O */
}

#turn-indicator.X {
  color: #FD2288; /* Change color for X */
}

#score-container {
  display: flex; /* Use flexbox to align items side by side */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  margin-top: 20px;
}

.score {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 10px; /* Add some space between the scores */
}

#score-x {
  color: #FD2288; /*  color for X */
}

#score-o {
  color: #00E8CA; /* color for O */
}

  /* Responsive Design */
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 2.5rem; /* Smaller font size for the heading */
    }

    #game-board {
      grid-template-columns: repeat(2, auto); /* Adjust the size of the game board */
    }

    .grid-cell {
      width: 40px; /* Smaller cells for the game board */
      height: 40px;
      font-size: 20px; /* Smaller font size for X and O */
    }

    #turn-indicator {
      font-size: 4rem; /* Smaller turn indicator */
    }

    .score {
      font-size: 3rem; /* Smaller score font size */
    }
  }

#game-description {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  color: #fff;
  border: 1px solid #333;
  padding: 20px; /* Increased padding for better readability */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center; /* Align items vertically */
  align-items: center; /* Align items horizontally */
  text-align: center; /* Center text horizontally */
  flex-direction: column; /* Stack flex items vertically */
  overflow-y: auto; /* Add scroll for overflow */
  z-index: 10; /* Ensure it's above other elements */
}

.hidden {
  display: none;
}


